# see https://docs.searxng.org/admin/settings/settings.html#settings-use-default-settings
use_default_settings: true
server:
  # base_url is defined in the SEARXNG_BASE_URL environment variable, see .env and docker-compose.yml
  secret_key: "CHANGE_THIS_SECRET_KEY_IN_PRODUCTION"  # change this!
  limiter: false
  image_proxy: true
  port: 8888
  bind_address: "http://localhost"
ui:
  static_use_hash: true
redis:
  url: redis://redis:6379/1
search:
  safe_search: 0
  autocomplete: ""
  default_lang: ""
  formats:
    - html
    - json